<span class="badge bg-primary">
    <h1>{{name}}</h1>
</span>
<p>{{description}}</p>
<hr>


<div>
    <span class="badge bg-info text-dark">
        <h2>History</h2>
    </span>
    <p>Year: {{history.year}}</p>
    <p>Founder: {{history.founder}}</p>
</div>
<hr>
<div>
    <span class="badge bg-secondary">
        <h2>Types</h2>
    </span>
    <ul>
        {{#each types}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
<br>
<hr>

<div>
    <span class="badge bg-secondary">
        <h2>Syntax</h2>
    </span>
    <div>
        <h3>Variables</h3>
        <ul>
            {{#each syntax.variables}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <div>
        <h3>Functions</h3>
        <ul>
            {{#each syntax.functions}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <div>
        <h3>Conditionals</h3>
        <ul>
            {{#each syntax.conditionals}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <div>
        <h3>Loops</h3>
        <ul>
            {{#each syntax.loops}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <div>
        <h3>Classes</h3>
        <ul>
            {{#each syntax.classes}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>
<br>
<hr>

<div>
    <span class="badge bg-secondary">
        <h2>Features</h2>
    </span>
    <ul>
        {{#each features}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
<br>
<hr>

<div>
    <span class="badge bg-secondary">
        <h2>Libraires</h2>
    </span>
    <ul>
        {{#each libraries}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
<br>
<hr>

<div>
    <span class="badge bg-secondary">
        <h2>Tools</h2>
    </span>

    <ul>
        {{#each tools}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
<br>
<hr>

<div>
    <h2>Community</h2>
    <ul>
        {{#each community}}
        <li>
            ({{this.type}}) <br>
            <a class="btn btn-primary" href="#" role="button">{{this.name}}</a>
        </li>
        <br>
        {{/each}}
    </ul>
</div>