{{!--
Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

<head>
	<title>
		{{page.title}}
	</title>
	<meta charset='utf-8' />
	<link href='css/index.css' rel='stylesheet' />
</head>

<body>
	{{!-- {{#with header}}
	<header>
		<div>
			<h1>{{name.firstname}} {{name.lastname}}
			</h1>
		</div>
		<div>
			<b>{{position}}</b>
		</div>
		<br>
		<div>{{salary.amount}}</div>
		<br>
		<div>
			<address>
				<em>{{address}}</em>
			</address>
		</div>
		<br>
		<hr>
	</header>
	{{/with}} --}}

	{{> nav}}

	<br>
	<hr>



	{{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
	{{{body}}}

	<br>
	<hr>


</body>

{{> footer social=footer.social name=header.name.firstname lastname=header.name.lastname address=header.address}}

</html>